.navbar {
text-align: center;
padding-bottom: 0 !important;
}
.navbar-ul {
    align-content: center;
    margin: auto;
    margin-top: 0 !important;
}

.logo {
    color: #ffffff;
    margin: 0;
    margin-left: 0.5em;
  }