/* Font Sizes */
.regular {
    font-weight:400;
}

.semibold {
    font-weight:600;
}

.bold {
    font-weight:700;
}

.extrabold {
    font-weight:800;
}

/* Navbar */
.logo {
    color: #ffffff;
    font-size: x-large;
    margin: 0 auto;
    margin-left: 0.3em;
    text-decoration: none;
}

.logo:hover {
    color:#f2f2f2;
}

.nav_container {
    border-bottom: 4.5px solid white;
}

.nav_options {
    width: 50vw;
    min-width:325px;
    align-content: center;
    margin: auto;
}

.nav_item {
    float: left;
    padding-left: 4vw;
    padding-right: 4vw;

}

.nav_link {
    font-size: large;
    color:white !important;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    transition: border-bottom 0.2s;
}

.nav_link:hover {
    color:#d9d9d9 !important;
    border-bottom-color: #d9d9d9;
}

.nav_button {
    font-size: large;
    color:white !important;
    text-decoration: none;
    border: 3px solid transparent;
    border-radius: 10px;
    transition: border, 0.2s;
}

.nav_button:hover {
    color:#d9d9d9 !important;
    border-color: #d9d9d9;
    border-radius: 10px;
}

.form_box {
    border-top:none;
    border-left:none;
    border-right:none;
    outline: none;
}

/* Hoverable Dropdown */
.dropbtn {
    background-color: #3498DB;
    color: white;
    width: 85px;
    font-size: 16px;
    border: none;
}

.dropup {
  position: fixed;
  bottom: 0;
  right: 20px;
  display: inline-block;
  transition: bottom ease 1s;
}

.dropup-content {
    display: block;
    position: absolute;
    background-color: #f1f1f1;
    width: 85px;
    z-index: 1;
}

.dropup:hover {
    bottom: 70px;
    transition: bottom ease 1s;
}

.dropup:hover .dropbtn {
    background-color: #2980B9;
}

/* Other */