<!doctype html>
<html lang="en" style="height:100%;">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
            <link rel="stylesheet" href="../static/css/theme.css">
            <link rel="stylesheet" href="../static/css/theme.min.css">
        <title>{% block title %}{% endblock %} - Task Manager With Slimes</title>
        {% block style %}{% endblock %}
    </head>
    <body id="webpage">
        <span style="font-family: 'Inter', sans-serif;">
            <div class="modal fade" id="loginModal" tabindex="-1">
                <div class="modal-dialog">
                    <form action="/login" method="post" class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title bold">Log Back Into Your Account</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                                <div class="container">
                                    <img src="{{ url_for('static', filename='images/person-fill.svg') }}">
                                    <input type="text" placeholder="Enter Username" name="username-input" class="form_box" required><br><br>
                            
                                    <img src="{{ url_for('static', filename='images/key-fill.svg') }}">
                                    <input type="password" placeholder="Enter Password" name="password-input" class="form_box" required><br>
                                </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <input type="submit" class="btn btn-success" value="Login"></button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal fade" id="signUpModal" tabindex="-1">
                <div class="modal-dialog">
                    <form action="/signup" method="post" class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title bold">Create A New Account</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                                <div class="container">
                                    <img src="{{ url_for('static', filename='images/person-fill.svg') }}">
                                    <input type="text" placeholder="Enter Username" name="username-input" class="form_box" required><br><br>
    
                                    <img src="{{ url_for('static', filename='images/key-fill.svg') }}">
                                    <input type="password" placeholder="Enter Password" name="password-input" class="form_box" required><br><br>
    
                                    <img src="{{ url_for('static', filename='images/key-fill.svg') }}">
                                    <input type="password" placeholder="Re-enter Password" name="confirm-password-input" class="form_box" required><br>
                                </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <input type="submit" class="btn btn-success" value="Sign Up"></button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal fade" id="logOutModal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title bold">Are You Sure?</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <a href="logout" class="btn btn-danger">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
            <nav style="--bs-breadcrumb-divider: ''; height: 75px;"class="navbar nav_container">
                <div class="container-fluid">
                    <a href="/" class="logo extrabold">Task Manager With Slimes</a>
                    {% if session['logged_in'] %}
                    <ul class="breadcrumb nav_options">
                        <li class="breadcrumb-item nav_item"><a href="#" class="nav_link">Slime</a></li>
                        <li class="breadcrumb-item nav_item"><a href="tasks" class="nav_link">Tasks</a></li>
                        <li class="breadcrumb-item nav_item"><a href="dashboard" class="nav_link">Dashboard</a></li>
                    </ul>
                    {% endif %}
                    <div>
                        {% block buttons %}
                        {% if session['logged_in'] %}
                        <a type="button" class="nav_button mx-2 p-1" data-bs-toggle="modal" data-bs-target="#logOutModal">Log Out</a>
                        {% else %}
                        <a type="button" class="nav_button mx-3 p-1" data-bs-toggle="modal" data-bs-target="#loginModal">Login</a>
                        <a type="button" class="nav_button mx-3 p-1" data-bs-toggle="modal" data-bs-target="#signUpModal">Sign Up</a>
                        {% endif %}
                        {% endblock %}
                    </div>
                </div>
            </nav>
            {% block content %}{% endblock %}

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
            <script type="text/javascript">
                var url = document.createElement('a');
                url.href = window.location.href;
                var page = document.getElementById('webpage');
                console.log(url.pathname);
                if (url.pathname == '/dashboard'){
                    page.style['background'] = "linear-gradient(315deg, #2a2a72 0%, #009ffd 74%)";
                    page.style['background-attachment'] = true;
                }
                else if (url.pathname == '/'){
                    page.style['background'] = "linear-gradient(315deg, #2a2a72 0%, #009ffd 74%)";
                    page.style['background-attachment'] = true;
                }
            </script>
                {% block scripts %}{% endblock %}
            </div>
        </span>
    </body>
</html>
