{% extends 'base.html' %} {% block title %}Home{% endblock %}
{% block style %}

{% endblock %}
{% block content %}
<br>
<div style="color:white;" class="text-center">
    <div class="row m-auto">
        <div class="col">
            <h2 class="semibold">Complete Tasks</h2>
            <img src="linkClickHome.jpg" alt="Link Click cover"/>
        </div>
        <div class="col">
            <h2 class="semibold">Earn Coins</h2>
            <img src="cellsAtWorkHome.jpg" alt="Cells At Work cover"/>
            <br>
        </div>
        <div class="col">
            <h2 class="semibold">Customize Your Own Slime</h2>
            <img src="pokemonHome.jpg" alt="Pokémon cover"/>
            <br>
        </div>
    </div>
    <br><br><br><br>
    {% if not(session['logged_in']) %}
    <a class="btn btn-success p-3" data-bs-toggle="modal" data-bs-target="#signUpModal"><h3 class="bold">Sign Up Now!</h3></a>
    {% endif %}
</div>
{% endblock %}
{% block scripts %}

{% endblock %}
