{% extends 'base.html' %} {% block title %}Shop{% endblock %}
{% block style %}
<style>
.screen {
  width: 100%;
  height: 100%;
  margin: 0;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -30%);
  transform: translate(-50%, -30%);
}
</style>
{% endblock %}
{% block content %}
<div class="screen">
    <div class="container">
        <div class="dropright">
            <button class="shopbtn">|||</button>
            <div class="dropright-content text-center">
                <h1 class="title bold">Shop</h1>
                <div class="optionContainer">
                    <br><h2 class="semibold">Colors</h2>
                    <div class="optionList">
                        <div id="shopColors" class="colorsGrid">
                            <div style="width:160px; height:auto; display:block;"><img class="m-auto" style="width:160px; height:auto; padding-top:0;" src="../static/images/red slime.png"><p></p></div>
                            <img src="../static/images/red slime.png">
                            <img src="../static/images/orange slime.png">
                            <img src="../static/images/yellow slime.png">
                            <img src="../static/images/green slime.png">
                            <img src="../static/images/blue slime.png">
                            <img src="../static/images/purple slime.png">
                            <!-- <div style="width:160px; height:auto; display:block;"><img class="m-auto" style="width:35%; height:auto; padding-top:30px;" src="../static/images/objects/slime_coin.png"><p>100</p></div> -->
                        </div>
                    </div>
                </div>
                <br><br>
                <div class="optionContainer">
                    <br><h2 class="semibold">Accessories</h2>
                    <div class="optionList">
                        <div id="shopTop" class="accessoriesGrid">
                            <div><img src="../static/images/hat.png" alt="Link Click cover"/></div>
                        </div>
                    </div>
                </div>

            </div>
            
        </div>
        <!-- <div class="leftpane">
            <h1>Shop</h1>
            <h2 class="colors">Colors</h2>
            <div class="colorsGrid">
                <div><img src="../static/images/red slime.png"></div>
                <div><img src="../static/images/orange slime.png"></div>
                <div><img src="../static/images/yellow slime.png"></div>
                <div><img src="../static/images/green slime.png"></div>
                <div><img src="../static/images/blue slime.png"></div>
                <div><img src="../static/images/purple slime.png"></div>
            </div>
            <h2 class="accessories">Accessories</h2>
            <div class="accessoriesGrid">
                <div><img src="../static/images/hat.png" alt="Link Click cover"/></div>
            </div>
        </div> -->

        <!-- <div class="rightpane"> -->
            <div>
                <img style="width:35%;" class="center" src="../static/images/yellow slime.gif" >
            </div>
        <!-- </div> -->
    </div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    var user=JSON.parse('{{user|tojson}}');
    var data=user['data'];
    var colors=data['slimeColorOwned'];
    var tops=data['slimeTopOwned'];
    
    var shopColorsDiv = document.getElementById('shopColors');
    var shopTopsDiv = document.getElementById('shopTop');

    generateItems(colors, shopColorsDiv, 100);
    generateItems(tops, shopTopsDiv, 150);

    console.log(colors)


    function generateItems(items, container, cost){
        Object.entries(items).forEach(function (attribute) { //Goes through each attribute: Ex: slime color --> (color = ['color', 't/f'])
            var imgDiv = document.createElement("div");
            var imgDivId='div-'+attribute[0];
            imgDiv.setAttribute('id', imgDivId);
            imgDiv.style['width'] = '160px';
            imgDiv.style['height'] = 'auto';
            imgDiv.style['display'] = 'block';

            var img = document.createElement("img");
            var imgId = 'img-'+attribute[0];
            img.setAttribute('id', imgId);
            img.classList.add('m-auto')
            img.style['width'] = '160px';
            img.style['height'] = 'auto';
            img.style['padding-top'] = 0;
            img.src = "{{ url_for('static', filename='images/slimes/{{attribute[0]}}/{{attribute[0]}}_slime_plain.png') }}";

            var imgP = document.createElement("p");
            var imgPId = 'p-'+attribute[0]
            img.setAttribute('id', imgPId);

            if (!(attribute[1])) { //If user owns attribute
                imgDiv.onmouseover = hover(imgDivId, imgId, imgPId, cost)
                imgDiv.onmouseout = unhover(imgDivId, imgId, imgPId)
            }
            imgDiv.onclick = changeAttribute(attribute[0]);

            imgDiv.append(img);
            imgDiv.append(imgP);
            container.append(imgDiv);
        })
    }

    function changeAttribute(attribute){
        //axios post request here
    }

    function hover(divId, imgId, pId, cost){
        var div = document.getElementById(divId);
        
        var img = document.getElementById(imgId);
        console.log(img);
        var p = document.getElementById(pId);

        img.src = "{{ url_for('static', filename='images/objects/slime_coin.png') }}";
        img.style['width'] = '35%';
        img.style['padding-top'] = '30px';

        p.innerHTML = cost;
    }

    function unhover(divId, imgId, pId){
        div = document.getElementById("divId");
        img = document.getElementById("imgId");
        p = document.getElementById("pId");

        img.style['width'] = '160px';
        img.style['height'] = 'auto';
        img.style['padding-top'] = 0;
        img.src = "{{ url_for('static', filename='images/slimes/{{attribute[0]}}/{{attribute[0]}}_slime_plain.png') }}";

        p.innerHTML = "";
    }

    

</script>
{% endblock %}