{% extends 'base.html' %} {% block title %}Tasks{% endblock %}
{% block style %}
<style>
  div{
    text-align: left;
  }
</style>
{% endblock %}

{% block content %}
<div class="container" id="page">
    <div class="text-center">
        <form action="/tasks" method="POST" id="createTaskForm">
            <h1 style="color:white;" class="bold">My Tasks</h1>
            <div class="row">
                <div class="col-6">
                    <label style="color:white;" for="Title">Title of Task:</label>
                    <input type="text" class="form-control" id="title" name="title" v-model="title" placeholder="Title" required>
                </div>
                <div class="col-6">
                    <label style="color:white;" for="duetime">Due (date and time):</label>
                    <br>
                    <input class="form-control" type="datetime-local" id="duetime" name="duetime" v-model="duetime" required>
                    <br>
                </div>
            </div>
            <div>
                <label style="color:white;" for="difficultyBar">Difficulty</label><br>
                <input type="range" max="4" min="0" id="difficultyBar" style="width:100%;" v-model="difficulty" required/>
                <br>
            </div>
            <div>
                <label style="color:white;" for="notes">Notes</label>
                <textarea class="form-control" id="notes" name="notes" placeholder="Add additional notes" v-model="notes"></textarea>
                <br>
                </div>
            <div class="d-grid">
                <br>
                <button type="button" class="btn btn-primary" @click="submit(title,duetime,difficulty,notes)">Add Task</button>
            </div>
            <br>
        </form>
    <br>

    <div id="notesList" style="width:70vw;" class="container">
        <div class="card" style="background-color: #FFEEB0">
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <h1 class="card-title">Heading</h1>
                    </div>
                    <div class="col-4">

                        <button style="float:right;" class="btn btn-success" type="button"><img src="{{ url_for('static', filename='images/objects/check-lg.svg') }}"></i></button>
                        <button style="float:right;" class="btn btn-danger" type="button"><img src="{{ url_for('static', filename='images/objects/trash-fill.svg') }}"></button>
                    </div>
                </div>
                <div class="row my-1">
                    <div class="col">
                        <p>due date</p>
                    </div>
                    <div class="col">
                        <p>difficulty</p>
                    </div>
                    <div class="col-2">
                        <p style="float:right;" class="mx-1">5</p>
                        <img src="{{ url_for('static', filename='images/objects/coin.svg') }}" style="float:right;" class="mx-0">
                    </div>
                </div>
                <div class="row my-1">
                    <div class="col">
                        <p>notes</p>
                    </div>
                </div>
            </div>
        </div>
    </div><br><br>
</div>
{% endblock %}
{% block scripts %}
<script src="../static/js/tasks.js"></script> 
<script type="text/javascript">
    var today = JSON.parse('{{today|tojson}}');
    var duetimeInput=document.getElementById('duetime');
    duetimeInput.min = today[0].toString()+"-"+today[1].toString()+"-"+today[2].toString()+"T00:00"; //Setting minimum date of duetime to today

    var createTaskForm = new Vue({
        el: "#createTaskForm",
        delimiters: ["[[", "]]"],
        data() {
            return {
                title: "",
                duetime: "",
                difficulty: 0,
                notes: "",
            };
        },
        methods: {
        submit(title, duetime, difficulty, notes) {
            axios.post("/tasks",
            {
                title: this.title,
                duetime: this.duetime,
                difficulty: this.difficulty,
                notes: this.notes,
            },
            {headers:{'Content-Type': 'application/json'}}).then(function (response) {
            if (response.data.redirect) {
                window.location.href = response.data.redirect;
            }
            else {
                alert("An Error Has Occurred. Please Try Again")
            }
            });
        },
        },
    });
</script>
{% endblock %}