{% extends 'base.html' %}
{% block style %}
<style>
  div{
    text-align: left;
  }
</style>
{% endblock %}

{% block content %}
<div class="container" id="page">
    <div class="text-center">
        <h1 style="color:white;" class="bold">My Tasks</h1>
        <div class="row">
            <div class="col-6">
                <label style="color:white;" for="Title">Title of Task:</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="Title" required>
            </div>
        </div>
        <br>
        <div>
        <label style="color:white;" for="difficultyBar">Description</label>
        <textarea class="form-control" id="description" name="description" placeholder="Description" required></textarea>
        <br>
        </div>
        <div class="col-6">
            <label style="color:white;" for="duetime">Due (date and time):</label>
            <br>
            <input class="form-control" type="datetime-local" id="duetime" name="duetime" required>
            <br>
        </div>
        <div>
            <label style="color:white;" for="difficultyBar">Difficulty</label><br>
            <input type="range" max="4" min="0" id="difficultyBar" style="width:100%;" required/>
            <br>
        </div>
        <div class="d-grid">
            <br>
            <button type="button" class="btn btn-primary" onclick="addTask()">Add Task</button>
        </div>
        <br>
    <br>

    <div id="notesList" style="width:70vw;" class="container">
        <div class="card" style="background-color: #FFEEB0">
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <h1 class="card-title">Heading</h1>
                    </div>
                    <div class="col-4">

                        <button style="float:right;" class="btn btn-success" type="button"><img src="{{ url_for('static', filename='images/check-lg.svg') }}"></i></button>
                        <button style="float:right;" class="btn btn-danger" type="button"><img src="{{ url_for('static', filename='images/trash-fill.svg') }}"></button>
                    </div>
                </div>
                <div class="row my-1">
                    <div class="col">
                        <p>due date</p>
                    </div>
                    <div class="col">
                        <p>difficulty</p>
                    </div>
                    <div class="col-2">
                        <p style="float:right;" class="mx-1">5</p>
                        <img src="{{ url_for('static', filename='images/coin.svg') }}" style="float:right;" class="mx-0">
                    </div>
                </div>
                <div class="row my-1">
                    <div class="col">
                        <p>notes</p>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-6 bg-primary">
                        <a href="google.com" class="card-link" contenteditable=true>google</a>
                    <button class="btn bg-transparent bg-outline-light">
                    </div>
                        <i class="fa fa-pencil"></i>
                    </button>
                    <div class="col-6 bg-secondary">
                        <div class="card-text" style="color: #737373;">
                            <p>body</p>
                        </div>
                    </div>
                </div>
                    <div class="col">
                        
                    </div> -->
            </div>
        </div>
    </div><br><br>
</div>
{% endblock %}
{% block scripts %}
<script src="../static/js/tasks.js"></script> 
{% endblock %}